@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  .main-wrapper {
    padding-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 767px) {
  .main-wrapper {
    padding-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

button {
  padding: 0.2rem 0.5rem;
  border-radius: 5%;
  font-size: 0.8rem;
  color: #eaeaea;
  background-color: #4a707a;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

button:hover {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  color: #eaeaea;
  background-color: #7697a0;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

input[type="text"] {
  outline: none;
  border-bottom: 2px solid #4a707a;
  padding: 2px;
  margin: 2px;
}
